.page6 {
  display: flex;
  background-color: #1e1e1e;
  flex-direction: column;
  padding: 10%;

  .title {
    font-size: 72px;
    font-family: "Source Sans 3", sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    line-height: 80px;
    width: 56%;
    text-align: left;
    box-sizing: border-box;
    padding-bottom: 70px;
  }

  .photos {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    .photoTitle {
      font-size: 28px;
      font-family: "Source Sans 3", sans-serif;
      color: white;
      font-weight: 650;
      text-transform: uppercase;
    }

    .photoLeft, .photoRight {
      max-width: 400px;
      display: flex;
      gap: 40px;
      text-align: left;
      justify-content: center;
      flex-direction: column;

      .readMore{
        padding-top: 34px;
        gap: 3px;
        .arrow6{
          padding-left: 16px;
          height: 12px;
          width: 15px;
          gap: 0px;
        }
      }
      
    }
    .explorePhoto {
      filter: grayscale(100%);
    }
    .page6Description {
      color: #fff;
    }

   
  }
}
